1. A board ✅
2. mines 💣
3. empty spaces 0️⃣
4. numbers to tell how many adjacent mines there are 1️⃣
5. flags ✅
6. auto reveal connected empty spaces ✅
7. lose condition ✅
8. win condition ✅
9. restart ✅